@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            <form id="forgotpassword">
                <div>
                    <label for="name">Email</label>
                    <input type="text" id="emailforgot" name="emailforgot">
                </div>
            </form>
        </div>
        <div>
            <button type="button" onclick="ForgotPassword()">Submit</button>
        </div>
    </div>
}
<script>
    function ForgotPassword() {
        console.log("test");
        var Employee = new Object();
        Employee.Email = $("#emailforgot").val();
        $.ajax({
            type: 'PUT',
            url: '/Forgot/ForgotPassword',
            data: Employee
        }).done((result) => {
            console.log(result, "testok");
            if (result == 200) {
                swal({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Check Your Email for New Password!',
                    showConfirmButton: true
                })
                //alert("Check Your Email for New Password!");
                window.location.href = "https://localhost:44347/Register";
            }
        }).fail((result) => {
            console.log(result, "testgagal");
            swal({
                position: 'top-end',
                icon: 'error',
                title: 'Failed to Send Email for Your New Password!',
                showConfirmButton: true
            })
            //alert("Failed to Send Email!");
            window.location.href = "https://localhost:44347/Forgot/ForgotPassword";
        })
    }
</script>

