@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal-body">
            <form id="registerform" action="Auth/ForgotPassword">
                <div class="form-group">
                    <label for="name" class="col-form-label">Email</label>
                    <input type="text" class="form-control" id="emailforgot" name="emailforgot">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="ForgotPassword()">Submit</button>
        </div>
    </div>
}
<script>
    function ForgotPassword() {
        console.log("test");
        var Employee = new Object();
        Employee.Email = $("#emailforgot").val();
        $.ajax({
            type: 'PUT',
            url: '/Forgot/ForgotPassword',
            data: Employee
        }).done((result) => {
            if (result == 200) {
                alert("Check Your Email for New Password!");
                window.location.href = "https://localhost:44347/Register";
            }
            else {
                alert("Failed to Send Email!");
                window.location.href = "https://localhost:44347/Register";
            }
        }).fail((result) => {
            console.log(result);
            alert("Failed to Send Email!");
        })
    }
</script>