@{
    ViewData["Title"] = "Supervisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Overtime Request Application</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light"><b>Overtime Request</b></span>
            </a>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index" style="color:white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy" style="color:white"></i>
                            <p style="color:white">
                                Check Request Overtime
                                <i class="fas fa-angle-left right" style="color:white"></i>
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="RelationalManager" asp-action="Index">
                                    <i class="far fa-circle nav-icon" style="color:white"></i>
                                    <p style="color:white">Relational Manager</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-table" style="color:white"></i>
                            <p style="color:white">
                                Profile
                                <i class="fas fa-angle-left right" style="color:white"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ChangePass" asp-action="Index" style="color:white">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Logout" style="color:white">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            <!-- /.sidebar -->
        </aside>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
</body>
</html>

<div class="container-fluid mt-5">
    <div class="card-card default" style="margin-left:150px; margin-bottom:150px">
        <div class="card-header">
            <h3>Supervisor Approval Page</h3>
        </div>
        <div class="card-header">
            <table>
                <thead>
                    <tr>
                        <th><label for="nik" class="col-form-label">Input Your NIK</label></th>
                        <th width="10%"></th>
                        <th><input disabled value="@ViewData["NIKValue"]" id="nik" class="form-control" name="nik" style="width:150px"></th>
                        <th width="3%"></th>
                        <th><button type="button" class="btn btn-success" onclick="Display()">Submit</button></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <br />
        <table id="myTable" class="table table-striped table-bordered" styles="widht:100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>Customer (Client)</th>
                    <th>NIK</th>
                    <th>Overtime Form Id</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>Customer (Ciient)</th>
                    <th>NIK</th>
                    <th>Overtime Form Id</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel"><b>Details</b></h5>
            </div>
            <div class="modal-body">
                <form id="formRole">
                    <div class="form-group" hidden>
                        <label for="id" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="id">
                    </div>
                    <div class="form-group">
                        <label for="customerId" class="col-form-label">Customer Id</label>
                        <input type="text" class="form-control" id="customerId" readonly>
                    </div>
                    <div class="form-group" hidden>
                        <label for="nik" class="col-form-label">NIK</label>
                        <input type="text" class="form-control" id="nik" readonly>
                    </div>
                    <div class="form-group">
                        <label for="overtimeFormId" class="col-form-label">Overtime Form Id</label>
                        <input type="text" class="form-control" id="overtimeFormId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-form-label">Status</label>
                        <input type="text" class="form-control" id="status" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Approve()">Approve</button>
                <button type="button" class="btn btn-danger" onclick="Reject()">Reject</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function Display() {
            var input = new Object();
            input.NIK = $("#nik").val();
            $(document).ready(function () {
                table = $("#myTable").DataTable({
                    "filter": true,
                    "orderMulti": false,
                    "ajax": {
                        "url": "https://localhost:44346/api/overtimeformemployee/Get/" + input.NIK,
                        "type": "get",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columnDefs": [
                        {
                            "targets": [1],
                            "visible": false,

                        }
                    ],
                    "columns": [
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": 'id'
                        },
                        {
                            "data": 'customerId',
                            "render": function (customerId) {
                                if (customerId == "1") {
                                    return "Metrodata MII";
                                }
                                else if (customerId == "2") {
                                    return "Bank BCA";
                                }
                                if (customerId == "3") {
                                    return "Bank BNI";
                                }
                                else {
                                    return "Bank BRI";
                                }
                            }
                        },
                        {
                            "data": 'nik'
                        },
                        {
                            "data": 'overtimeFormId'
                        },
                        {
                            "data": 'status',
                            "render": function (status) {
                                if (status == "0") {
                                    return "Waiting for Approval";
                                }
                                else if (status == "1") {
                                    return "Approved by Supervisor";
                                }
                                else if (status == "2") {
                                    return "Approved by Manager";
                                }
                                else {
                                    return "Rejected";
                                }
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return '<a href="javascript:void(0)" class="fas fa-check-circle text-success" data-toggle="tooltip" data-placement="top" title="Approve" onclick="Get(\'' + row['id'] + '\')"></a> '

                            }
                        }
                    ]
                });
            });
        }

        function Close() {
            $("#id").val(null);
            $("#customerId").val(null);
            $("#nik").val(null);
            $("#overtimeFormId").val(null);
            $("#status").val(null);
        }

        function Get(id) {
            $.ajax({
                url: "/Supervisor/Get",
                data: { id: id }
            }).done((result) => {
                console.log(result);
                var obj = JSON.parse(result);
                $("#addModal").modal("show");
                $("#id").val(obj.data.id);
                $("#customerId").val(obj.data.customerId);
                $("#nik").val(obj.data.nik);
                $("#overtimeFormId").val(obj.data.overtimeFormId);
                $("#status").val(obj.data.status);
            }).fail((error) => {
                console.log(error);
            })
        }

        function Approve(id) {

            var approve = new Object();
            approve.id = $("#id").val();
            approve.customerId = $("#customerId").val();
            approve.nik = $("#nik").val();
            approve.overtimeFormId = $("#overtimeFormId").val();
            approve.status = 1;
            console.log(approve);
            $.ajax({
                url: "/Supervisor/SupervisorApproval",
                type: "put",
                data: approve
            }).done((result) => {
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Data Updated",
                        icon: "success",
                        button: "Ok",
                    });
                    table.ajax.reload();
                } else if (result == 400) {
                    swal("failed to Update data", {
                        icon: "warning",
                    });
                } else {
                    swal("failed to Update data", {
                        icon: "warning",
                    });
                }
            }).fail((error) => {
                console.log(error);
            });
        }

        function Reject(id) {

            var approve = new Object();
            approve.id = $("#id").val();
            approve.customerId = $("#customerId").val();
            approve.nik = $("#nik").val();
            approve.overtimeFormId = $("#overtimeFormId").val();
            approve.status = 3;
            console.log(approve);
            $.ajax({
                url: "/Supervisor/SupervisorRejected",
                type: "put",
                data: approve
            }).done((result) => {
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Data Updated",
                        icon: "success",
                        button: "Ok",
                    });
                    table.ajax.reload();
                } else if (result == 400) {
                    swal("failed to Update data", {
                        icon: "warning",
                    });
                } else {
                    swal("failed to Update data", {
                        icon: "warning",
                    });
                }
            }).fail((error) => {
                console.log(error);
            });
        }
    </script>
}